*{margin: 0; padding: 0;}
html,body{  font-size:20px;  }
a{
	color: #fdf28d;
	font-size: 0.3rem;
	text-decoration: none;
}
/*头部*/
#header{width: 100%;height: 1.53rem;}
#header img{ width: 100%;  height: 100%;  }
#titList{
  display: flex;
}
/*tab切换*/
#tab_q{  width: 100%;}
#titList .tit{
	/*width: 25%;*/
    /* width: 20%; */
  flex: 1;
	float: left;
	height: 0.8rem;
	border-radius: 0.2rem;
	font-size: 0.2rem;
	line-height: 0.8rem;
	text-align: center;
	color: white;
	float: left;
	/* background-color: #f5faf6; */
	position: relative;
	font-weight: bold;
	background: #a0a0a0;
	cursor: pointer;
}
#titList .spanFocus{
	background: white;
	color: white;
	line-height: 0.8rem;
	height: 0.9rem;
	margin-top: -0.1rem;
	/*border-radius: 0.1rem;*/
	background-size: 100% 100%;
	background-image: url(../img/tabs.png);
	background-repeat: no-repeat;
}
#content .zzz{
	width: 100%;
	display: none;
}
#content .focus{
	display: block;
}
/*4G流量包简介 通用*/
.jiacan,.baoyue,.changliao{
	float: left;
	width: 100%;
	height: 4.5rem;
	background-color: #f6f0e4;
}
/*引入字体*/
@font-face{
font-family: myFirstFont;
src: url(hanzhen.ttf);
}
.ziti{font-family: myFirstFont;/* margin-left: 0.3rem; */margin-top: 0.3rem;font-size: 0.4rem;width: 100%;text-align: center;}
.jiacan1{
    height: 20px;
    width: 100px;
    margin-left: 1.0rem;
    margin-top: 2.1rem;
}
.jiacan2{
	font-size: 0.28rem;
	margin-top: 0.2rem;
	margin-left: 0.3rem;
}
.baoyue{height: 5.5rem;}
.changliao{height: 5.7rem;}
/*产品列表   4G加餐包*/
.b_group{
    width: 100%;
    background-color: #f6f0e4;
    overflow: hidden;
}
.b_group li{
    width: 100%;
    height: 2.3rem;
    border-top: 0.03rem solid black;
}
.b_groupList1{
	 width: 95%;
	 margin-left: 2.5%;
	 background: #edf9fe;
	 border: 1px solid #e5e5e5;
	 border-radius: 10px;
	 /* margin: -1.2rem 0.5rem; */
	 /* font-size: 1em; */
	 cursor: pointer;
	 overflow: hidden;
	 list-style: none;
}
.b_groupImg{
	float: left;
	width: 25%;
	height: 100%;

}
.b_groupImg img{
    float: left;
    width: 96%;
    /* height: 5.1rem; */
    /* margin-left: 1.0rem; */
    /* margin-top: 1.0rem; */
}
.b_groupImg1{
	font-size: 0.7rem;
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 0.6rem;
	color: #099fe5;
}
.b_groupList2{
    float:left;
    width:63%;
    position: relative;
    margin: 4px 0px 0px 10px;
}
.b_groupList2 p{
    line-height:25px;
}
.b_groupList2 p:nth-child(1){
    display:inline-block;
}
.LimitLength{
    width:70%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.b_groupList p:nth-child(2){
    color: #148706;
    overflow: hidden;
}
.b_groupList p:nth-child(2) span:nth-child(1){
    overflow: hidden;
}
.b_groupList3{
	font-size: 0.2rem;
}
.b_groupList4{

font-size: 0.3rem;

color: red;
}
.b_price{
	color: #099fe5;
}
.b_buy{
    float:right;
    /* padding:0px 22px; */
    /* border:1px solid #099fe5; */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    cursor: pointer;
    color: #099fe5;
    width: 1.5rem;
    text-align: center;
    line-height: 0.6rem;
    height: 0.6rem;
    background: #f12e51;
}

/*底部 活动归属*/
#foot{
	width: 100%;
	height:4.0rem;
	position: fixed;
	bottom:0;
}

#foot p{
	font-size: 0.9rem;
	width: 100%;
	text-align: center;
	line-height: 4.0rem;
	background-color: white;
	
}


.rules-does{
	width: 100%;
	background: url(../img/fenx2.jpg) no-repeat;
	height: 8rem;
	background-size: 100% 100%;
}
.rules-des{
	margin-top: 22%;
	float: left;
	font-size: 0.2rem;
	padding-left: .33rem;
	width: 90%;
}
.zengsong{
	position: absolute;
	top: 51%;
	width: 100%;
	text-align: center;
	color: red;
}
/*加餐包订购页面*/
.ding{
	width: 100%;
	height: 9.0rem;`
}
.ding1{
	width: 90%;
	height: 83%;
	/* background: #edf9fe; */
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	font-size: 1em;
	cursor: pointer;
	overflow: hidden;
	list-style: none;
	margin: 1.0rem 1.5rem;
	float: left;
}
.dingImg{
	float: left;
	width: 44%;
	height: 100%;
}
.dingImg img{
	float: left;
	width: 6.75rem;
	height: 5.5rem;
	margin-left: 2.9rem;
	margin-top: 1.2rem;
}
.dingImg1{
	font-size: 1.3rem;
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 0.6rem;
	color: #099fe5;
}
.ding3{
	float: left;
	/*margin-left:3.0rem ;*/
	margin-top: 0.6rem;
}
.ding3 p{
	line-height: 1.8rem;
}
.a_groupList3{
	font-size: 1.3rem;
	margin:;
	margin-top: 1rem;
}
.a_price{
	font-size: 1.0rem;
	color: #099fe5;
}
.a_song{
	font-size: 1.1rem;
	margin-top: 0.4rem;
	color: #ec7d5b;
}


/*订购页面介绍*/
.c_content{
	border-top:0.2rem solid #000000;
	width: 100%;
	/* margin-bottom: 4.0rem; */
	float: left;
	/* background-color: #e8f1e9; */
	/*! margin-bottom: 7rem; */
}
.c_jie{
	font-size: 2rem;
	font-weight: bold;
	width: 100%;
/*	font-family: myFirstFont;*/
	text-align: center;
	/* margin: 0 auto; */
	/*margin-top: 1.5rem;*/
}
#c_qing{
	margin-bottom: 2rem;
}
.c_jie1{
	font-size: 1.0rem;
	width: 90%;
	margin: 0 auto;
}
/*输入手机号，发送验证码订购*/
#login{
	width: 80%;
	margin: 0 auto;
	height: 21.0rem;
}
#login .input1{
    width: 80%;
    height: 3.5rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 2.0rem;
}
#login .input2{
    width: 54%;
    height: 3.5rem;
    border-radius: 0.5rem;
}
#login .input3{
    width: 24%;
    height: 3.5rem;
    color: white;
    background-color: #ff9400;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1.0rem;
}
.input3[type=button], .input3[type=submit], .input3[type=file], .input3 { -webkit-appearance: none; } 
#login .button{
    height: 3.5rem;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    color: #272242;
    /* font-weight: bold; */
    font-weight: bold;
    border: 0.3rem solid #272242;
    border-radius: 0.5rem;
    margin-top: 1.0rem;
    /* margin-left: 14%; */
    background-color: #fac913;
}
/*订购成功弹出的页面*/
#errorMessage{
	width: 100%;
    margin-top: 1rem;
    /* height: 3.0rem; */
    /* margin: 0 auto; */
    text-align: center;
    color: red;
    font-size: 1rem;
}
#successMessage{
	width: 85%;
	height: 210PX;
	position: fixed;
	top: 18%;
	left: 8%;
	z-index: 99;
	background: url(../img/login22.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}
.success{
	font-size: 0.2rem;
    margin-top: 21%;
    width: 90%;
    /* line-height: 2.0rem; */
    margin-left: 5%;
    margin-right: 1.0rem;
    /* text-indent: 2em; */
}
.suce{
	width: 100%;
}

#su{
	position: fixed;
     display: none; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    background: rgba(0,0,0,0.75);
}
.su2{
	position: absolute;
	width: 100%;
	height: 3rem;
	text-align: center;
	display: block;
	top: 0;
}
.su3{
	position: absolute;
	/* top: 4%; */
	/* right: 0; */
	width: 12%;
}



#loginMask{
	position: fixed;
	width: 100%;
	height: 100%;	 	
	top: 0;
	left: 0;
	z-index: 101;
	background:rgba(0,0,0,0.75);
	display: none;
}
#loading{
	position: fixed;
	top: 36%;
	left: 0;
	text-align: center;
	z-index: 10001;
	width: 100%;
	display: none;
}
#loading img{
	width: 20%;
	margin-left: 40%;
}








/*绑定登录*/
#denglu{
	position: fixed;
	top: 10%;
	left: 8%;
	width: 5.4rem;
	/* height: 6rem; */
	border-radius: 0.2rem;
	background: white;
	/* background: url(../img/login.png) 0 0 no-repeat; */
	/*background-size: 100% 90%;*/
	z-index: 101;
	text-align: center;
	overflow: hidden;
	display: none;
}
#deng_successMessage{
	     width: 80%;
    margin-left: 10%;
    margin-top: 0.2rem;
    /*height: 3.5rem;*/
}
.login_title{
       color: #292925;
       font-size: 0.4rem;
       margin-top: 0.4rem;
       font-weight: bold;
}
#deng_phone{
	width: 4.13rem;
	line-height: 0.56rem;
	padding-left: 0.05rem;
	margin-top: 0.2rem;
	border-radius: 0.08rem;
}
#deng_yzm{
	float: left;
	margin-top: 0.3rem;
	width: 2.8rem;
	line-height: 0.56rem;
	padding-left: 0.05rem;
	border-radius: 0.08rem;
	display: inline-block;
}
#deng_text{
	background-color: #f3ba77;
	width: 1.33rem;
	border: none;
	float: left;
	height: 0.6rem;
	margin-top: 0.3rem;
	text-align: center;
	line-height: 0.6rem;
	/* display: inline-block; */
	border-radius: 0.2rem;
}
#deng_text[type=button], #deng_text[type=submit], #deng_text[type=file], #deng_text{ -webkit-appearance: none; } 
.login_zs{	
width: 100%;	
float: left;	
font-size: 0.3rem;
}
.login_img{
    width: 44%;
    margin-left: 30%;
    margin-top: 0.2rem;
    float: left;
}

.login_zan{
	width: 100%;
	font-size: 0.4rem;
	float: left;
	text-align: center;
	margin-top: 0.2rem;
}
.login_success{
    width: 100%;
    float: left;
    text-align: center;
    color: red;
    margin-top: 0.1rem;
    font-size: 0.2rem;
}
.login_close{
	margin-right: 6%;
    margin-top: -14%;
    float: right;
    width: 9%;
}

.succ{
	font-size: 0.35rem;
    /* margin-left: 10%; */
    text-indent: 2em;
    text-align: left;
    margin-top: 0.5rem;
}

/*出游季7天包*/
.cy_ding{
	position: absolute;
    top: 53%;
    width: 179px;
    height: 39px;
    left: 28%;
}
#chojs img{
	    position: fixed;
    top: 35%;
    width: 20%;
    left: 80%;
}


/*重复订购*/
#repeatOrder{
    width: 90%;
    height: 40%;
    position: fixed;
    top: 22%;
    left: 5%;
    z-index: 102;
    display: none;
    /* text-align: center; */
    background: url(../img/login22.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-border-radius: 0.10rem;
    -webkit-border-radius: 0.10rem;
    border-radius: 0.10rem;
}
.irepeatClose{
	width: 100%;	
	text-align: center;
}
.irepeatClose img{
	width: 13%;	
	margin-left: 43%;
	margin-top: 4%;
}

.irepeatding{
	width: 100%;	
	margin-top: 7%;	
	color: red;	
	text-align: center;
}
.irepaeatConfirm{
	width: 100%;	
	text-align: center;	
	color: red;
}
#irepeat{
	width: 100%;
	text-align: center;
	margin-top: 13%;
	overflow: hidden;
}
.irepatBut{
	width: 33%;
	float: left;
	margin-left: 8%;
}
.irepatBut1{
	width: 33%;
	margin-right: 8%;
	float: right;
}
/*无线流量包*/
#content1{
	width: 100%;
	height: 9.34rem;
	position: relative;
	background: url(../images/content.jpg);
	background-size:100% 100%;
}
#footer1{
	width: 100%;
	/*height: 9.34rem;*/
	position: relative;
	background: url(../images/footer.jpg);
	background-size:100% 100%;
}
.contenter1{
	width: 70%;
    top: 4%;
    position: absolute;
    height: 28%;
    /*background: red;*/
    left: 15%;
    text-align: center;
}
.content_title1{
	color: #fedd81;
    font-size: 0.26rem;
}
.content_middle1{
	font-size: 0.24rem;
}
.content_bottom1{
	color: #FFFFFF;
    font-size: 0.24rem;
}
.conter_footer1{
	    width: 70%;
    top: 59%;
    position: absolute;
    height: 28%;
    /* background: red; */
    left: 15%;
    text-align: center;
}
.conter_one1{
	    width: 23%;
    top: 33%;
    position: absolute;
    height: 7%;
    /*background: red;*/
    left: 38%;
    /*text-align: center;*/
}
.conter_two1{
	    width: 23%;
    top: 86%;
    position: absolute;
    height: 7%;
    /*background: red;*/
    left: 38%;
}
#footer1 h2{
	    width: 100%;
    text-align: center;
    margin-top: 0.4rem;
    display: inline-block;
}
#footer1 div{
	width: 90%;
    margin-left: 5%;
    margin-top: 0.3rem;
    font-size: 0.24rem;
    display: inline-block;
   /*float: left;*/
    margin-bottom: 0.5rem;
}

#login2{
        position: fixed;
    top: 16%;
    /* left: 3%; */
    width: 100%;
    height: 6rem;
    background: url(../images/login.png) 0 0 no-repeat;
    background-size: 100% 100%;
    z-index: 10000;
    overflow: hidden;
    display: none;
}
.login1_close2{
        width: 0.6rem;
    height: 0.7rem;
    right: 12%;
    position: absolute;
    /* background-color: red; */
    top: 0;
}

#login1_succes2{
       width: 80%;
    height: 2.3rem;
    margin-top: 2.5rem;
    margin-left: 10%;
    /* background-color: red; */
}
.login1_top2{
    width: 100%;
    float: left;
    height: 0.8rem;
    line-height: 0.2rem;
    text-align: center;
    /* background: red; */
}
.login1_bottom2{
    width: 100%;
    text-align: center;
    /* margin-top: 0.2rem; */
    float: left;
    margin-top: 0.2rem;
    height: 0.8rem;
    line-height: 0.2rem;
}
#login1_phone2{
    width: 3.72rem;
    height: 0.70rem;
    border: 1px solid #453596;
    border-radius: 0.15rem;
    padding-left: 0.1rem;
}
#login1_validate2{
    width: 2.54rem;
    height: 0.70rem;
    border: 1px solid #453596;
    border-radius: 0.15rem;
    padding-left: 0.1rem;
}
#login1_yzm2{
    background: #453596;
    border: 0;
    border-radius: 0.15rem;
    color: #fff;
    padding: .07rem .23rem;
    padding: 0.2rem 0.3rem;
}
#login1_yzm2[type=button], button { cursor: pointer; -webkit-appearance: none; }
#login1_errorMsg2{
    width: 100%;
    text-align: center;
    font-size: 0.2rem;
    color: red;
    /* background: green; */
    /* margin-top: 0.1rem; */
    height: 0.5rem;
    line-height: 0.5rem;
    float: left;
}
#login1Button2{
    width: 100%;
    text-align: center;
    height: 0.7rem;
    line-height: 0.2rem;
    /* background: red; */
    margin-top: 0.rem;
}
#login1_but2{
        width: 36%;
    height: 0.8rem;
    border: none;
    line-height: 0.8rem;
    /* background-color: #e5a81c; */
    border-radius: 0.2rem;
    text-align: center;
    font-size: 0.3rem;
    color: white;
    background: #453596;
    background-size: 100% 100%;
}
.success3{
    color: red;
}
.success4{
	line-height: 0.38rem;
    font-size: 0.25rem;
    color: #464646;
    text-indent: 2em;
}
.asuccess{
    width: 90%;
    margin-left: 5%;
    font-size:0.24rem; 
}