body{ color:#333; font-size:13px;}
input,select,textarea{color:#333;}
.bg{ width:100%; height:100%; position:absolute; background:url(../images/bg.jpg) }
.panel{background:#fff;}
form .form-group:last-child{padding-bottom:0;}
.passcode{position:absolute;right:0;bottom:0;height:32px;margin:1px;border-left:solid 1px #ddd;text-align:center;line-height:32px;border-radius:0 4px 4px 0;}
ul,li{ list-style-type:none;}

.lefter{position:relative;float:left;width:180px;margin-right:-180px;background:#e6f2fb;text-align:center;}
.righter{float:right;width:100%;padding-top:15px;background:#e6f2fb;}
.mainer{margin-left:180px;}
.field-icon-right .icon{ bottom:0px; top:auto}
.logo{ float:left; color:#FFF; margin-top:10px; line-height:45px;}
.logo img{ float:left; margin-right:10px;}
.loginbox { background:url(../images/tmbg-white.png); border:0px;}
/********头部******/
.header{
	height: 70px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background: url(../img/bg.jpg) no-repeat 100% 100%; }
.head-l{ float:right; margin-top:17px;margin-right: 30px; }
.head-l .button{ padding:8px 15px;}
.head-l .bg-blue:hover{ background-color:#03b6fd;}
.leftnav{width:180px;height:100%;position:fixed;top:70px;left:0px;overflow: hidden;background: #f7fafd;}

/***主要内容***/
.admin{background:#fff;position:fixed;border-left: solid 7px #eff3f5;right:0;bottom:0;top:70px;left:180px;padding:15px;padding-right:0px;padding-bottom:0px;overflow:auto;border-top:1px solid #b5cfd9;padding-right:15px;}
.content{width:100%;}




