/**
 * Created by hsgeng on 2017/7/24.
 */

/*重置样式*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma; font-size: 12px; text-align: left;}
img{border: 0;width:100%;display:block;}
ul li{	list-style-type: none;}
a{text-decoration:none;outline:none;color: white;}
input,select,textarea{outline:0;}
html{
	font-size: 100px;
}
#content{width: 100%; height: 7.24rem; background: url(../images/content.png) no-repeat; background-size:100% 100%;position: relative;}
#history{
	    position: absolute;
	    width: 69%;
	    left: 22%;
	    top: 4%;
	    height: 0.5rem;
	    overflow: hidden;
}
#con1 li{width: 100%;line-height: 0.4rem;}
#con1 li span{height: 0.4rem;width: 50%;float: left;text-align: center;}
#con2 li{width: 100%;line-height: 0.4rem;}
#con2 li span{      height: 0.4rem;  width: 33.3%;float: left; text-align: center;}
#draw {
    width: 70%;
    position: relative;
    left: 15%;
    top: 15%;
}
#drawHis{
	width: 26%;
    position: absolute;
    left: 37%;
    top: 27%;
}
#footer{width: 100%; height: 9.24rem; background: url(../images/footer.png) no-repeat; background-size:100% 100%;position: relative;}
.myPrize{
	width: 80%;
    position: absolute;
    left: 10%;
    font-size: 0.24rem;
    top: 15%;
}
.configure{
	    width: 80%;
    position: absolute;
    left: 10%;
    top: 28%;
    font-size: 0.24rem;
}
.details{
	    width: 80%;
    position: absolute;
    left: 10%;
    top: 61%;
    font-size: 0.24rem;
}
#loginMask{
	position: fixed;
	width: 100%;
	height: 100%;	 	
	top: 0;
	left: 0;
	z-index: 101;
	background:rgba(0,0,0,0.75);
	display: none;
}
#login{
	width: 90%;
    height: 5.5rem;
    position: fixed;
    top: 22%;
    left: 5%;
    z-index: 102;
    display: none;
    /*text-align:center;*/
    background: url(../images/login.png);
    background-repeat: no-repeat;
    background-size:100% 100% ;
    -moz-border-radius: 0.10rem; /* Firefox */
    -webkit-border-radius: 0.10rem; /* Safari 和 Chrome */
    border-radius: 0.10rem; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
.loginClose{
	width: 10%;
    height: 0.5rem;
    position: absolute;
    right: 9%;
    top: 0;
}
.succes{
	    position: absolute;
    width: 70%;
    height: 2.5rem;
    left: 15%;
    top: 43%;
}












