/**
 * Created by hsgeng on 2017/4/20.
 * 微信绑定页面
 */

/*重置样式*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma; font-size: 12px; text-align: left;}
img{border: 0;}
input,select,textarea{outline:0;}
html{
	font-size: 100px;
}
/***************** 模态框********************/

#loginMask{
	position: fixed;
	width: 100%;
	height: 100%;	 	
	top: 0;
	left: 0;
	z-index: 101;
	background:rgba(0,0,0,0.75);
	display: none;
}
/*loading*/
#loading{
	position: fixed;
    top: 36%;
    left: 0;
    text-align: center;
    z-index: 999;
    width: 100%;
    display: none;
}
#loading img{
	width: 20%;
    margin-left: 40%;
}
/***************** 绑定********************/
#login_binding{
    width:87%;
    position: fixed;
    top: 1.5rem;
    left: 0.4rem;
    z-index: 102;
    display: none;
    text-align:center;
    background: #fff;
    -moz-border-radius: 0.10rem; /* Firefox */
    -webkit-border-radius: 0.10rem; /* Safari 和 Chrome */
    border-radius: 0.10rem; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}


#header{
	width: 100%;
	overflow: hidden;
}

#header h1{
	width:50%;
	float:left;
	font-size:0.26rem; 
    color: #ccc;
    font-weight: normal;
    line-height: 0.59rem;
}
#header .select{
	color: #19b2f5;
    border-bottom: 1px solid #19b2f5;
}

#tabcon li{
	display: none;
}

#tabcon .show{
	display: block;
}

#Li-con1,#Li-con2{
	padding-top:1.08rem;
}

#login_phone,#login_phone2{
	width: 4.13rem;
    line-height: 0.56rem;
    padding-left: 0.05rem;
    border-radius: 0.08rem;
}

.yzm_p{
	margin-top:0.26rem;
	position: relative;
}

#verification{
	width: 4.13rem;
    line-height: 0.56rem;
    padding-left: 0.05rem;
    border-radius: 0.08rem;
}

#login_text{
	width: 0.68rem;
    line-height: 0.34rem;
    display: inline-block;
    background: #f6f0bb;
    margin-left: 0.05rem;
    color: #74736e;
    border: 0;
    text-align: center;
    position: absolute;
    top: 22%;
    right: 20%;
    font-size: 0.15rem;
}
/*input框的兼容*/
#login_text[type=button], #login_text[type=submit], #login_text[type=file], #login_text { -webkit-appearance: none; } 
#sub_btn,#sub_btn2{
	overflow: hidden;
	padding-left:26%;
}

#login_successMessage{
	background-size: 100% 100%;
	padding-bottom:0.4rem;
}

.success{
	line-height: 0.38rem;
    /*padding: 1.5rem 0.25rem 0 0.35rem;*/
    font-size: 0.25rem;
    text-align: center;
    color: #464646;
}

#errorMessage,#errorMessage2{
	line-height: 0.35rem;
    margin: 0.25rem 0;
    color: #CB1623;
    padding: 0 0.69rem;
    text-align: center;
    width: 4.13rem;
}

#sub_btn img,#sub_btn2 img{
	width:2.9rem;
	height: 0.76rem;
	float:left;
}

.Tips{
	color: #000;
    margin-top: 0.25rem;
    font-size: 0.3rem;
}
.succ{
   	margin-top: 1.5rem;
    width: 90%;
    text-align: center;
    text-indent: 2em;
}



/*未关注*/
#notConcern{
	position: fixed;
	top: 15%;
	left: 10%;
	width: 80%;
	height: 50%;
	background: url(../images/order.png) 0 0 no-repeat;
	background-size: 100% 100%;
	z-index: 10001;
	overflow: hidden;
	 display: none; 
}
.follow_content{
	    width: 80%;
    margin-left: 10%;
    text-align: center;
}
#follow_foote img{
	width: 28%;
	margin-top: 31%;
	margin-left: 36%;
}
#follow_close{
    width: 12%;
    height: 0.7rem;
    position: absolute;
    top: 85%;
    left: 44%;
}
