*{padding: 0;margin: 0;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body {color:#ffffff;font-family:"microsoft yahei",Arial, Helvetica, sans-serif;background-color:#f6f6f6;-webkit-text-size-adjust: none;word-wrap: break-word;font-size:14px;}
h1,h2,h3,h4,h5,h6{ font-size:0.875em; font-weight:normal;}
a{text-decoration: none;color: #ffffff;}
img{border: 0;width:100%;display:block;}

@media screen and (min-width:400px){body{font-size:20px}}
@media screen and (min-width:480px){body{font-size:24px}}
@media screen and (min-width:540px){body{font-size:27px}}
@media screen and (min-width:640px){body{font-size:32px}}
body{z-index: 0}
.button-click1 {
    height: 16%;
    width: 24%;
    background: url("../img/click.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 37%;
    top: 30%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
/*login.css*/
#load{background-color: #000;position: fixed;left: 0;top: 0;height: 100%;width: 100%;opacity: 0.75;z-index: 50;display: none}
#login{
    width:320px;
    height: auto;
    position:fixed;
    left: 50%;
    top: 35%;
    margin: -94px 10px 10px -158px;
    background:url(../img/订购页面背景.jpg) no-repeat;
    background-size: 320px 378px;
    border: none;
    z-index:60;
    vertical-align : middle;
}
#login div{
    text-align: center;
    font-size: 13px;
    margin: 18px 0;
    margin-top: -4px;
    /* padding: 16px; */
}
#successMessage{
    margin-left: ;
}
#login div input{
    height: 30px;
}
#login .header{
    height:95px;
    position:relative;

}
#login .span{position:absolute;right: 5px;top:-10px;font-size: 18px;cursor: pointer}
#login .input1{
    width: 243px;
    text-align: center;
    background-color: white;
}
#login .input2{
    width: 115px;
    position: relative;
    left: 8px;
}
#login .input3{
    width: 130px;
    height: 30px;
    position: relative;
    background-color: #edc843;
    left: 13px;
    border: none;
}
#login .button{
    height: 36px;
    width: 130px;
    border-radius: 8%;
    background-color: #ce4cca;
    margin-top: 18px;
    border: none;
}

#errorMessage{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: #10e518;
    text-shadow: 1px -1px 1px rgba(10, 10, 10, 0.98),2px -2px 1px rgba(0, 0, 0, 0.5),3px -3px 1px rgba(0, 0, 0, 0.5);
    width: 320px;
    position: absolute;
    margin: 5px;
}
.success{
    text-indent: 2em;
    text-align:justify;
    color: #00c600;
    text-align-last:justify;/* ie9*/
    -moz-text-align-last:justify;/*ff*/
    -webkit-text-align-last:justify;/*chrome 20+*/
    font-size: 18px;
    margin: 0 15px;
}

