*{margin:0; padding:0; }
html{
	font-size: 100px;
}
/*img{width: 100%;height: 100%; border: 0; display: block;}*/
/*弹窗样式*/
#login{
	display: none;
    width: 100%;
    height: 100%;
    z-index: 100;
	position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.75);   /*弹窗之后整个的背景*/
}
.logins{
	background: url(../image/login.jpg);
	background-size: 100% 100%;
	position: fixed;
	width: 90%;
	height: 56%;
	left: 5%;
	top: 20%;
}
.con{
	    width: 62%;
    height: 22%;
    /*background-color: red;*/
    position: absolute;
    left: 19%;
    top: 71%;
}
.tit{
	width: 80%;
    position: absolute;
    font-size: 0.13rem;
    left: 10%;
    top: 50%;
}
.peeeerw{
	margin-top: 1rem;
	width: 100%;
	text-align: center;
	font-size: 0.5rem;
}
/*为进行微信绑定的进行绑定*/
.bangding{
	    width: 80%;
    height: 0.75rem;
    line-height: 0.75rem;
    color: white;
    font-size: 0.34rem;
    text-align: center;
    background-color: #34a46c;
    display: block;
    margin-top: 0.2rem;
    margin-left: 10%;
    font-weight: block;
    border-radius: 0.04rem;
    text-decoration: none;
}
.success{
	font-size: 0.3rem;
    line-height: 0.38rem;
    color: #582245;
}
/*点击红叉关闭弹窗*/
.guan{
	position: absolute;
	width: 100%;
	height: 0.5rem;
	display: block;
	top: 0;
}
.guan img{
	position: absolute;
	top: 4%;
	right: 0;
	width: 8%;
}
/*版权*/
.tips{
	color: red;
    position: absolute;
    bottom: 0.2rem;
    font-size: 12px;
    width: 100%;
    text-align: center;
}
.progress{z-index: 2000;width: 38%;height: 26%;} 
.mask{position: fixed;top: 0;right: 0;bottom: 0;left: 0; z-index: 1000; background-color: #2F2F2F} 
.renzhe{
	display: none;
	width: 100%;
    height: 100%;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.75);
}
.zheng{
	width: 100%;
    color: white;
    text-align: center;
    position: fixed;
    top: 66%;
    z-index: 100;
    color: white;
    font-size: 0.3rem;
}
